header {
  justify-content: space-between;
}

.home_icon {
  color: var(--clr-tiffany-blue);
  font-size: 1.3rem;
}

.home_link {
  display: flex;
  align-items: center;
  gap: 1em;
}

.delete_btn {
  border: .5px solid hsl(var(--clr-black-two));
  padding-inline: .5em;
  border-radius: .3rem;
  background-color: hsl(var(--clr-white-one));
  display: flex;
  align-items: center;
  gap: .5em;
  box-shadow: var(--box-shadow-stripe-19);
  cursor: pointer;
}

.delete_btn span {
  font-size: --fs-400;
}

.trash_can {
  color: hsl(var(--clr-red-crayola));
}